<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932178639950-o3sf6c16bcpq80blnv37bt5ag1ffvl5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932178639950-o3sf6c16bcpq80blnv37bt5ag1ffvl5i</string>
	<key>API_KEY</key>
	<string>AIzaSyCOZaSmr429sWzKG5FfZAgNzP70C0lasfg</string>
	<key>GCM_SENDER_ID</key>
	<string>932178639950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.kag-langenfeld.KAG-App</string>
	<key>PROJECT_ID</key>
	<string>kag-api</string>
	<key>STORAGE_BUCKET</key>
	<string>kag-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932178639950:ios:35866351783a7001c7971f</string>
	<key>DATABASE_URL</key>
	<string>https://kag-api.firebaseio.com</string>
</dict>
</plist>